body {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
    font-family: 'Roboto', sans-serif;
    margin: 1% 10%;
}
#header > h1 {
    border: 1px solid black;
    color: white;
    background-color: silver;
    text-align: center;
    padding: 5%;
    margin-bottom: 5%;
}
.section {
    margin: 25px;
    border: 1px solid silver;
    padding: 25px;
}
img {
    display: block;
    margin: 0 auto;
    width: 60%;
    border: 1px solid silver;
    border-radius: 20px;
    padding: 10px;
}